.header {
	display: flex;
	align-items: center;
	height: 70px;
	background-color: var(--color-primary-light);
}
.headerWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	padding: 0	15px;
}
.burger{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
}
.burgerSVG{
	width: 30px;
	height: 30px;
	stroke: var(--color-primary-dark);
}
/* .link {
	padding: 14px 36px;
	color: var(--color-primary-dark);
	background-color: var(--color-secondary-light);
	border-radius: 10px;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	transition: background-color 100ms linear;
} */
/* .disabled {
	padding: 14px 36px;
	background-color: var(--color-secondary-light);
	border-radius: 10px;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	color: var(--color-secondary-darker);
	pointer-events: none;
} */
/* .link:hover {
	background-color: var(--color-secondary-darker);
}
.linkActive {
	color: var(--color-primary-light);
	background-color: var(--color-accent);
}
.linkActive:hover {
	background-color: var(--color-accent-dark);
} */
.logo {
	position: relative;
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
}
.logoSVG {
	fill: var(--color-primary-dark);
	width: 30px;
	height: 30px;
}
.text {
	position: relative;
	top: 5px;
	color: var(--color-primary-dark);
}
/* .navBar {
	display: none;
	gap: 15px;
} */
@media screen and (min-width: 768px) {
	.header {
		height: 100px;
	}
	.headerWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}
	/* .navBar {
		display: flex;
		gap: 15px;
	} */
	.burger{
		display: none;
	}
}